[submodule ".tmux/plugins/tpm"]
	path = dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/nvim"]
	path = dot-config/nvim
	url = https://github.com/snorrwe/nvim-config
